<div class="container">
  <app-chat-bot-icone></app-chat-bot-icone>
  <app-inst-menu></app-inst-menu>
  <app-vlibras></app-vlibras>
  <div class="conteudo">
    <div class="grafico">
      <div class="twoGra">
        <div class="graPizza">
          <canvas #meuCanvas1 width="100" height="100"></canvas>
        </div>
        <div class="graBarra">
          <canvas #meuCanvas2 width="100" height="100"></canvas>
        </div>
      </div>
      <div class="legendGra">
        <p class="text">
          Os gráficos disponibilizados tem o intuito de exibir a quantidade de
          alunos que obtiveram uma pontuação considerada baixa nos jogos de
          miopia e daltonismo, além da quantia que atingiu bons resultados e os
          que não finalizaram o pré-diagnóstico.
        </p>
      </div>
    </div>
    <div class="infDesen">
      <p class="text">
        Esse projeto tem como finalidade proporcionar uma melhor qualidade de
        vida para as crianças que enfrentam no seu dia a dia as dificuldades
        causadas pela baixa visão. No decorrer do website será apresentado de
        forma minuciosa e divertida uma possível ajuda, que poderá auxiliar as
        instituições envolvidas a obterem uma direção por meio de jogos simples
        e dinâmicos, para posteriormente analisar se estas crianças precisam
        recorrer a um especialista. Devido a isso, os alunos do grupo Code
        Fusion do curso superior de Análise e Desenvolvimento de Sistemas,
        dedicam esse projeto a todas as crianças e responsáveis que encaram esse
        problema e necessitam de auxílio e apoio.
      </p>
    </div>
  </div>
</div>
