<div class="container">
  <app-inst-menu></app-inst-menu>
  <div class="conteudo">
    <h3>Crianças Cadastradas por Sala</h3>
    <div class="conteudo-criancas" id="custom-bar">
      <div class="criancas-box">
        <div *ngIf="criancas.length > 0; else noData" >
          <div class="crianca" *ngFor="let crianca of criancas">
            <img class="imagem-crianca" loading="lazy" [src]="crianca.foto || '../../../assets/user.png'" />
            <div class="info-criancas">
              <p><strong>Nome:</strong> {{ crianca.nome }}</p>
              <p>
                <strong>Idade:</strong>
                {{ getIdade(crianca.dataNascimento) }} anos
              </p>
              <p><strong>Nome do Responsável:</strong> {{ crianca.nomeResp }}</p>
              <p ><strong >Telefone do Responsável:</strong> {{ crianca.tel1 | mask: '(00) 0000-0000' }}</p>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <p class="nodata">Não há crianças cadastradas nesta sala.</p>
      </ng-template>
    </div>
  </div>
</div>
