<div class="menu">
  <div class="logo">
    <img
      [routerLink]="['/instituicao/home']"
      src="../../../assets/HomeImages/VisualEssenceLogo.svg"
    />
  </div>

  <div class="MenuOpt">
    <ul>
      <li>
        <div class="AumDim">
          <button>A+/</button>
          <button>A-</button>
        </div>
      </li>
      <li><a [routerLink]="['/instituicao/home']">HOME</a></li>
      <li><a [routerLink]="['/instituicao/criar-sala']">CRIAR SALA</a></li>
      <li><a [routerLink]="['/instituicao/cadastros']">CADASTROS</a></li>
      <li><a [routerLink]="['/instituicao/jogos']">JOGOS</a></li>
      <li>
        <button class="btnIdi"><img src="assets/bdEUA.webp" /></button>
      </li>
    </ul>
  </div>

  <div class="MenuAcco">
    <div *ngIf="user" class="MenuConta">
        <img mat-button (click)="openSideModal(userId)" [src]="userInfo?.foto || '../../../../../assets/user.png'"  alt=""/>
      <p>{{ userInfo?.nomeInst }}</p>
    </div>

    <div class="MenuLogout">
      <img
        [src]="Logout"
        alt=""
        [routerLink]="['/opc-entrar']"
        (click)="logout()"
      />
    </div>
  </div>
</div>


