<app-logo-menu-inst></app-logo-menu-inst>
<div class="conteudo">
  <div class="game-container">
    <div class="phase-title">
      <p id="currentPhase">FASE 1</p>
      <h4 id="color-phrase">Utilize a cor azul</h4>
    </div>

    <div id="game"></div>

    <div class="size-picker">
      <p>Tamanho do pincel</p>
      <div class="size-options">
        <img loading="lazy" id="sizeSmall" class="size-img" src="../../../../../assets/ColorImages/gray-circle.png" width="15px" height="15px"  alt="Tamanho Pequeno">
        <img loading="lazy" id="sizeMedium" class="size-img" src="../../../../../assets/ColorImages/gray-circle.png" width="20px" height="20px" alt="Tamanho Médio">
        <img loading="lazy" id="sizeLarge" class="size-img" src="../../../../../assets/ColorImages/gray-circle.png" width="25px" height="25px" alt="Tamanho Grande">
        <img loading="lazy" id="sizeExtraLarge" class="size-img" src="../../../../../assets/ColorImages/gray-circle.png" width="30px" height="30px" alt="Tamanho Extra Grande">
      </div>
    </div>

    <div class="button-area">


      <div class="color-picker">
        <img loading="lazy" id="redButton" class="color-img" src="../../../../../assets/ColorImages/colorgame/redpaint.png" alt="">
        <img loading="lazy" id="blueButton" class="color-img" src="../../../../../assets/ColorImages/colorgame/bluepaint.png" alt="">
        <img loading="lazy" id="yellowButton" class="color-img" src="../../../../../assets/ColorImages/colorgame/yellowpaint.png" alt="">
        <img loading="lazy" id="brownButton" class="color-img" src="../../../../../assets/ColorImages/colorgame/brownpaint.png" alt="">
      </div>

      <div class="next-button">
        <img loading="lazy" id="sendButton" class="color-img" src="../../../../../assets/ColorImages/colorgame/nextbutton.png" alt="">
      </div>
    </div>
  </div>
</div>

<div id="successModal" class="modal hidden">
  <div class="modal-content">
    <p id="modalMessage">Mensagem do modal</p>
  </div>
</div>
