@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h2 {
  font-size: 18px;
  position: relative;
  top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.container {
  background-image: url("../../../../assets/HomeImages/star1.png"),
    url("../../../../assets/HomeImages/allplanets1.png"),
    url("../../../../assets/HomeImages/planeta2.png"),
    url("../../../../assets/HomeImages/background.png");
  background-size: cover, cover, 25% 50%;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100%;
}

.conteudo {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agruDados {
  width: 50em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 5px;
  
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

.content-infos {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.infDados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40em;
}

label {
  font-size: 16px;
  cursor: text;
  padding: 3px;
}

.linD {
  display: flex;
  width: 40em;
  position: relative;
  bottom: 0;
  margin: 5px 0;
}

.I {
  width: 40em;
  border-bottom: 1px solid white;
  position: relative;
  bottom: 0;
  padding: 2px;
  overflow-y: hidden;
}

.E {
  width: 50%;
  border-bottom: 1px solid white;
  margin-right: 12%;
  overflow-y: hidden;
}

.D {
  width: 50%;
  border-bottom: 1px solid white;
  overflow-y: hidden;
}

.direitoLabel {
  padding-left: 4px;
}

.preHist {
  width: 100%;
  height: 25%;
  position: relative;
  bottom: 0;
  display: block;
  place-content: center;
}

.campHist {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 80%;
  height: 90%;
  margin-left: 10%;
  position: relative;
  bottom: 5px;
}

.tit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  height: 30%;
  margin: 2px 0;
}

.dadMiopia {
  height: 30%;
  display: block;
  place-content: center;
  text-align: justify;
}

.dadDalt {
  height: 30%;
  display: block;
  place-content: center;
  text-align: justify;
}

.titV {
  font-weight: bold;
  padding-left: 8px;
}

.infDados,
.content-infos,
.agruDados,
.campHist,
.dadoU,
.tit,
.dadMiopia,
.dadDalt {
  overflow: hidden;
  text-overflow: ellipsis;
}