@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url("../../../../assets/HomeImages/star1.png"),
    url("../../../../assets/HomeImages/allplanets1.png"),
    url("../../../../assets/HomeImages/planeta2.png"),
    url("../../../../assets/HomeImages/background.png");
  background-size: cover, cover, 25% 50%;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100%;
}

.logo img {
  width: 100px;
  height: 80px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.MenuOpt ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  flex-direction: row;
  width: 50em;
  font-weight: bold;
  margin: 10px 200px 10px 150px;
  gap: 3em;
}

.btnIdi {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }
}

.AumDim {
  display: flex;
  gap: 3px;
  position: relative;
}

.AumDim button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.AumDim::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 3px;
  bottom: -10px;
  left: -10%;
  transition: 0.5s ease-in-out;
}

.AumDim:hover::after {
  width: 115%;
}

.MenuOpt ul li a::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 3px;
  bottom: -10px;
  left: -8%;
  transition: 0.5s ease-in-out;
}

a {
  position: relative;
  letter-spacing: 0.5px;
}

.MenuOpt ul li a:hover::after {
  width: 115%;
}

.MenuAcco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  font-weight: bold;

  img {
    width: 35px;
    height: 35px;
  }
}

.MenuConta {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.MenuConta img {
  border-radius: 100%;
}

.conteudo {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agruDados {
  width: 60em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

.content-infos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.infDados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40em;
}



label {
  font-size: 17px;
  cursor: text;
  padding: 3px;
}

.linD {
  display: flex;
  width: 50em;
  position: relative;
  bottom: -20px;
  margin: 5px 0 5px 0;
  overflow: hidden;
}

.I {
  width: 50em;
  border-bottom: 1px solid white;
  position: relative;
  bottom: -20px;
  padding: 2px;
}

.E {
  width: 50%;
  border-bottom: 1px solid white;
  margin-right: 12%;
}

.D {
  width: 50%;
  border-bottom: 1px solid white;
}

.direitoLabel {
  padding-left: 4px;
}

.preHist {
  width: 100%;
  height: 22%;
  position: relative;
  bottom: -45px;
  display: block;
  place-content: center;
}

.campHist {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 84%;
  height: 95%;
  margin-left: 8.2%;
  position: relative;
  bottom: 30px;
}

.tit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  height: 30%;
  margin: 2px 0 2px 0;
}

.dadMiopia {
  height: 30%;
  display: block;
  place-content: center;
  text-align: justify;
}

.dadDalt {
  height: 30%;
  display: block;
  place-content: center;
  text-align: justify;
}

.titV {
  font-weight: bold;
  padding-left: 8px;
}

.infDados,
.content-infos,
.agruDados,
.campHist,
.dadoU,
.tit,
.dadMiopia,
.dadDalt {
  overflow: hidden;
  text-overflow: ellipsis;
}

