<mat-sidenav-container class="sidenav-container">
  <header>
    <div class="menu">
      <div class="content-menu">
        <div class="logo">
          <img
            (click)="scrollTo('sobre')"
            src="../../../assets/HomeImages/VisualEssenceLogo.svg"
          />
        </div>

        <div class="MenuOpt">
          <ul>
            <li>
              <div class="AumDim">
                <button>A+/</button>
                <button>A-</button>
              </div>
            </li>
            <li><a (click)="scrollTo('sobre')">HOME</a></li>
            <li><a (click)="scrollTo('doe-info')">ONGs</a></li>
            <li><a (click)="scrollTo('jogos')">JOGOS</a></li>
            <li><a routerLink="/Pais/Jogos/Historico">HISTORICO</a></li>
            <li>
              <button class="btnIdi">
                <img src="assets/bdEUA.webp" alt="Inglês" />
              </button>

            </li>
          </ul>
        </div>

        <div class="MenuAcco">
          <div *ngIf="user" class="MenuConta">
            <img
              [src]="Perfil"
              alt=""
              (click)="openSidenav()"
              class="profile-img"
            />
            <p>{{ user.nome }}</p>
          </div>

          <div class="MenuLogout">
            <img
              [src]="Logout"
              alt=""
              [routerLink]="['/opc-entrar']"
              (click)="logout()"
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Sidebar Menu -->
  <mat-sidenav #sidenav position="end" mode="over" class="sidenav">
    <div class="profile-sidebar-content">
      <img [src]="Perfil" alt="Profile Image" class="sidebar-profile-img" />
      <button mat-raised-button color="primary">Configurações</button>
      <button
        mat-raised-button
        color="warn"
        (click)="logout()"
        [routerLink]="['/opc-entrar']"
      >
        Logout
      </button>
      <button routerLink="/Pais/Jogos/Historico">historico</button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
