<div class="container">
  <app-logo-menu></app-logo-menu>
  <div class="conteudo-geral">

    <div class="gameContent" *ngIf="fase.length">

      <h1>{{ fase[faseAtual].question }}</h1>

      <div class="imagem-game">
        <div class="questionImage">
          <img loading="lazy"
            class="imgQuestion"
            [src]="fase[faseAtual].correctQuestion"
            [style.width]="getQuestionImageSize()"
            [style.height]="getQuestionImageSize()"
            alt="Imagem da Pergunta"
          />
        </div>
      </div>

      <div class="btnContent">
        <ul class="botoes">
          <li>
            <button class="btn-imagem-right" (click)="checkAnswer('correto')">
              <img loading="lazy" class="btnImg" src="../../../../../assets/MiopiaImages/correto.png" alt="Correto" />
            </button>
          </li>
          <li>
            <button class="btn-imagem-wrong" (click)="checkAnswer('errado')">
              <img loading="lazy" class="btnImg" src="../../../../../assets/MiopiaImages/erro.png" alt="Errado" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-auxilio">
    <div class="conteudo-modal">
      <div class="texto" *ngIf="!isEyeOpen">
        Verificar a resposta correta!
      </div>

      <div class="resposta">
        <span *ngIf="isEyeOpen">{{ descricaoImagemAtual }}</span>
      </div>

      <div class="imagem">
        <img loading="lazy" [src]="isEyeOpen ? '../../../../../assets/MiopiaImages/tip.png' : '../../../../../assets/MiopiaImages/no-tip.png'"   alt="Olho" (click)="toggleEye()"/>
      </div>

    </div>
  </div>
</div>
