<div class="container">
  <app-logo-menu></app-logo-menu>
  <div class="conteudo">
    <div class="resultados">
      <h2>RESULTADO</h2>
      <p *ngIf="result.score >= 25">
        Pelo resultado é possivel que tenha a 'Visao Normal'. Para um resultado
        preciso aconselhamos consultar um especialista.
      </p>
      <p *ngIf="result.score >= 12 && result.score < 24">
        Baixas chances de ter problemas de visão. Recomendamos consultar um
        especialista para um diagnóstico mais preciso.
      </p>
      <p *ngIf="result.score <= 12">
        O resultado indica que pode haver algum problema de visão. Recomendamos
        consultar um especialista para um diagnóstico mais preciso.
      </p>
      <h3>Acertos: {{ result.score }}/27</h3>
      <div class="botoes">
        <button routerLink="/Pais/Home">SAIR</button>
        <button routerLink="/Pais/jogos/letras-cadastro">REFAZER</button>
      </div>
    </div>
  </div>
</div>
