@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Joti One", serif; */
  font-weight: 700;
  font-style: normal;
}

.container {
  position: relative;
  background-image: url("../../../../assets/fundoUsuario.png");
  background-size: cover;
  background-position: center ;
  background-repeat: repeat;
  height: 100vmin;
}

.conteudo-central
{
  width: 100vw;
  height: 100%;
  display: flex ;
  justify-content: center;
  align-items: center;
}

.both-cont{
  width: 100%;
  height: 100vh;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}


.opc-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.opc-botoes{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cont-img img{
  width: 40em;
}

.cont-img{
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animation 7s ease;
  animation-iteration-count: infinite;
}

@keyframes animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(-10%) rotate(-10deg);
  }
  100% {
    transform: translateX(0);
  }
}

.box-opc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 60px;
  width: 28em;
  height: 32em;
  box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.5);
  padding: 3em 0 3em 0;
}

.p1{
  font-size: 35px;
}

.p2 {
  font-size: 25px;
}

.box-opc a {
  text-decoration: none !important;
  background-color: #563994;
  text-align: center;
  justify-content: center;
  color:#FFFFFF;
  width: 12em;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.box-opc a:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1366px) {
  .both-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10em;
    justify-content: center;
  }

  .cont-img img {
    width: 120%;
  }

  .box-opc
  {
    width: 25em;
    font-size: 20px;
    height: 28em;
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.5);

    .p1{
      font-size: 45px;
      }

      .p2 {
        font-size: 30px;
      }

      a {
        width: 12em;
        font-size: 30px;
        transition: transform 0.5s ease-in-out;

      }
  }
}

@media screen and (max-width: 768px ) {
  .both-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10em;
    justify-content: center;
  }

  .cont-img img {
    width: 120%;
  }

  .box-opc
  {
    width: 15em;
    font-size: 20px;
    height: 18em;
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.5);

    .p1{
      font-size: 25px;
      }

      .p2 {
        font-size: 15px;
      }

      a {
        width: 12em;
        font-size: 18px;
        transition: transform 0.5s ease-in-out;

      }
  }
}

@media screen and (max-width: 1200px) {
  .cont-img img {
    width: 150%;
  }
}
