<div class="container">
  <div class="conteudo-central">
    <div class="both-cont">
      <div class="cont-img">
        <img [src]="imagemFundo">
      </div>
      <div class="box-opc">
        <div class="opc-texto">
          <p class="p1">Bem Vindo!</p>
          <br>
          <p class="p2">Entrar como</p>
        </div>

        <div class="opc-botoes">
          <a routerLink="/login-inst" routerLinkActive="active" ariaCurrentWhenActive="page">Instituição</a> <br>
          <a routerLink="/login-pais" routerLinkActive="active" ariaCurrentWhenActive="page">Pais</a>
        </div>
        </div>
    </div>
</div>
