<div class="container">
  <app-logo-menu></app-logo-menu>
  <div class="conteudo">
    <div class="left">
      <img src="../../../../../assets/astroInstrucao.png" alt="" />
    </div>
    <div class="right">
      <h2>Instruções</h2>
      <p>
        Este jogo educativo exibe uma letra no centro da tela, com botões de
        setas indicando as direções: cima, baixo, esquerda e direita. A criança
        deve identificar a posição correta da letra e selecionar a seta
        correspondente. Clique em "Avançar" após cada escolha. No final, o
        resultado será mostrado. Posicione as crianças a cerca de 3 metros da
        tela para garantir boa visibilidade.
      </p>
      <div class="btn">
        <button routerLink="/Pais/Home">Voltar</button>
        <button routerLink="/Pais/jogos/letras">Iniciar</button>
      </div>
    </div>
  </div>
</div>
