<div class="container">
  <app-vlibras></app-vlibras>
  <app-inst-menu></app-inst-menu>
  <app-chat-bot-icone></app-chat-bot-icone>
  <div class="conteudo">
    <div class="barFiltro">
      <div class="conjJogo">
        <label for="selectJogo">JOGO: </label>
        <select class="selectJogo" [(ngModel)]="nomeJogo" name="selectJogo">
          <option disabled value="">Selecione o jogo</option>
          <option value="Miopia">Miopia</option>
          <option value="Daltonismo">Daltonismo</option>
          <option value="Figuras Coloridas">Figuras Coloridas</option>
        </select>
      </div>
      <div class="conjNome">
        <label for="inputNome">NOME:</label>
        <input
          type="text"
          class="inpNome"
          name="inputNome"
          [(ngModel)]="nomeCrianca"
        />
      </div>
      <div class="btnLupa">
        <button (click)="onSearch()">
          <img  loading="lazy" src="../../assets/lupa.png" alt="Buscar" />

        </button>
      </div>
    </div>

    <div class="conteudo-historico">
      <div *ngIf="historico.length > 0" id="custom-bar">
        <div *ngFor="let item of historico" class="box" id="custom-bar">
          <div class="card">
            <div class="left">
              <img loading="lazy" [src]="item.foto || '../../../assets/user.png'" alt="" />
            </div>
            <div class="right">
              <div class="content-r-left">
                <div class="p-nome">
                  <p>{{ item.nomeCrianca }}</p>
                </div>
                <div *ngFor="let jogo of item.jogos" class="p-undetailed">
                  <p>Jogo: {{ jogo.nomeJogo }}</p>
                  <p>Data: {{ jogo.dataJogo | date : "dd/MM/yyyy" }}</p>
                  <div *ngIf="jogo.nomeJogo === 'Miopia'">
                    <p>Pontuação: {{ jogo.pontuacao }}/20</p>
                  </div>
                  <div *ngIf="jogo.nomeJogo === 'Daltonismo'">
                    <p>Pontuação: {{ jogo.pontuacao }}/10</p>
                  </div>
                  <div *ngIf="jogo.nomeJogo === 'Figuras Coloridas'">
                    <p>Pontuação: {{ jogo.pontuacao }}/20</p>
                  </div>
                  <div *ngIf="jogo.nomeJogo === 'Miopia Letras'">
                    <p>Pontuação: {{ jogo.pontuacao }}/20</p>
                  </div>
                </div>
                <div class="p-more-details">
                  <a>Mais detalhes</a>
                </div>
              </div>
              <div class="content-r-right">
                <div class="p-imagem">
                  <p>SALA: {{item.salaNome}}</p>
                </div>
                <div class="p-download">
                  <img loading="lazy" src="../../../../assets/imgUpl.png" width="20px" height="20px" alt="" />

                  <p>Baixar Diagnóstico</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="historico.length === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>

    <div class="pagination">
      <button class="button-change" (click)="goToFirstPage()" [disabled]="pageNumber === 1">
        <img src="../../../../assets/back.png" width="15px" height="15px" alt="">
      </button>
      <button class="button-change" (click)="prevPage()" [disabled]="pageNumber === 1">
        <img src="../../../../assets/left-arrow.png" width="15px" height="15px" alt="">
      </button>
      <input class="page-input"
             type="text"
             [(ngModel)]="pageNumber"
             (ngModelChange)="onPageChange($event)"
             (keypress)="validateInput($event)" />
      <button class="button-change" (click)="nextPage()" [disabled]="pageNumber === totalPages">
        <img src="../../../../assets/right-arrow.png" width="15px" height="15px" alt="">
      </button>
      <button class="button-change" (click)="goToLastPage()" [disabled]="pageNumber === totalPages">
        <img src="../../../../assets/forward.png" width="15px" height="15px" alt="">
      </button>
    </div>

</div>
