<div class="container">
  <app-inst-menu></app-inst-menu>
  <app-vlibras></app-vlibras>

  <div class="alinhamento">
    <!-- Seção de Jogos -->
    <div class="jogos">
      <div class="titulo-jogo">
        <h1>Jogos</h1>
      </div>

      <div class="opcoes-jogo">
        <div class="contjogos">
          <!-- Botão Miopia -->
          <div class="btn-opc">
            <p>Miopia</p>
            <img
              src="../../../../assets/InstHistorico/img1.png"
              (click)="getHistoricoMiopia()"
              width="70px"
              height="70px"
              alt="Icone Miopia"
            />
          </div>

          <!-- Botão Figuras Coloridas -->
          <div class="btn-opc">
            <p>Figuras</p>
            <img
              src="../../../../assets/InstHistorico/img3.png"
              (click)="getHistoricoFigurasColoridas()"
              width="70px"
              height="70px"
              alt="Icone Figuras Coloridas"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Seção de Histórico -->
    <div class="historico">
      <div class="titulo-hist">
        <h1>Histórico</h1>
      </div>

      <!-- Caixa Rolável de Histórico -->
      <div class="box-oveflow">
        <div class="none-info" *ngIf="!historico || historico.length === 0">
          <p>Nenhuma informação encontrada!</p>
        </div>
        <div class="list-content">

          <div class="conteudo-historico" *ngFor="let item of historico">
            <div class="Opcoes-hist">
              <div class="titulo">
                <img
                  src="../../../../assets/InstHistorico/lupa.png"
                  width="20px"
                  height="20px"
                  alt="Icone lupa"
                />
                <h3>{{ item.nomeJogo }}</h3>
              </div>

              <div class="row">
                <div class="list">
                  <p>
                    <strong>Nome:</strong> {{ truncateName(item.nomeCrianca) }}
                  </p>
                </div>

                <div class="list">
                  <p><strong>Pontuação Total:</strong> {{ item.pontuacao }}</p>
                </div>
              </div>

              <div class="download">
                <img
                  src="../../../../assets/InstHistorico/download.png"
                  width="20px"
                  height="20px"
                  alt="Icone download"
                />
                <p>Baixar Diagnóstico</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
