@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  background-image: url("../../../../assets/HomeImages/star1.png"),
    url("../../../../assets/HomeImages/allplanets1.png"),
    url("../../../../assets/HomeImages/planeta2.png"),
    url("../../../../assets/HomeImages/background.png");
  background-size: cover, cover, 25% 50%;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100%;
}

.conteudo {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fundo-nav {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.alinhamento {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.jogos {
  padding: 20px;
  width: 12em;
  height: 25em;

  background: rgba(255, 255, 255, 0.02);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5%;

  background: rgb(34, 84, 150);
  background: linear-gradient(180deg,
      rgba(34, 84, 150, 0.0802696078431373) 22%,
      rgba(255, 255, 255, 0.16430322128851538) 100%);
}

.titulo-jogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4em;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.opcoes-jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 600;
}

.teste {
  height: 100%;
}

.btn-opc {
  margin-top: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  img {
    margin-top: 0.5em;
    border-radius: 100%;
    border: 2px;
    border-style: solid;
    cursor: pointer;
  }
}

.historico {
  padding: 20px;
  width: 38em;
  height: 25em;

  background: rgba(255, 255, 255, 0.02);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgb(255, 255, 255);

  background: rgb(34, 84, 150);
  background: linear-gradient(180deg,
      rgba(34, 84, 150, 0.0802696078431373) 22%,
      rgba(255, 255, 255, 0.16430322128851538) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  align-items: center;
  gap: 20px;
}

.jogos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titulo-hist {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  color: white;
}

.box-oveflow{
  width: 100%;
  height: 100%;
  display: flex;

}

.conteudo-historico {
  width: 100%;
  padding-top: 15px;
}

.list-content{
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
}

.Opcoes-hist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;

  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(84, 108, 140, 0.5);

  color: white;
  padding: 10px;

  .titulo {
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .row {
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }

  .list {
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .download {
    font-size: 14px;
  }

  .download:hover {
    text-decoration: underline;
  }
}

.download {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.box-oveflow {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: auto;
  padding: 20px;
}


@supports (scrollbar-color: auto) {
  .box-oveflow {
    scrollbar-color: #ffffff transparent;
  }
}

@supports selector(::-webkit-scrollbar) {
  .box-oveflow::-webkit-scrollbar {
    background: rgb(255, 255, 255);
  }

  .box-oveflow::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
