<div class="container">
  <app-logo-menu></app-logo-menu>
    <div class="conteudo-geral">

      <div class="gameContent" *ngIf="fase.length">

        <h1>{{ fase[faseAtual].question }}</h1>

        <div class="imagem-game">
          <div class="questionImage">
            <img
            class="imgQuestion"
            [src]="fase[faseAtual].correctQuestion"
            [style.width]="getQuestionImageSize()"
            [style.height]="getQuestionImageSize()"
            alt="Imagem da Pergunta"
            />
          </div>
        </div>

        <div class="btnContent">
          <ul class="botoes">
            <li *ngFor="let option of fase[faseAtual].questionImage">
              <button class="btn-imagem" (click)="checkAnswer(option)">
                <img class="btnImg" [src]="option" alt="Opção" />
              </button>
            </li>
            <button (click)="skipPhase()" class="btn-imagem">
              <img class="btnImg" src="../../../../../assets/MiopiaImages/question.png" alt="">
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>
