<div class="container">
<app-logo-menu></app-logo-menu>
  <div class="background-layer1"></div>
  <div class="background-layer2"></div>

  <div class="background-astronauta">
    <div class="astronauta1">
      <img src="assets/astronauta1.png">
    </div>
    <div class="astronauta2">
      <img src="assets/astronauta2.png" alt="">
    </div>
  </div>


  <div class="main-content">
    <a class="imagem" [routerLink]="['/opc-entrar']" routerLinkActive="router-link-active" >
      <img [src]="imagemEntrar" alt="">
    </a>
  </div>
</div>

