<div class="container">
  <app-logo-menu-inst></app-logo-menu-inst>
  <div class="conteudo">
    <div class="resultados">
      <h2>RESULTADO</h2>
      <p *ngIf="result.score >= 9">
        Parabéns! Você obteve um resultado normal, o que indica uma boa visão.
      </p>
      <p *ngIf="result.score >= 6 && result.score < 9">
        Baixas chances de ter problemas de visão. Recomendamos consultar um especialista para um diagnóstico mais preciso.
      </p>
      <p *ngIf="result.score <= 5">
        O resultado indica que pode haver algum problema de visão. Recomendamos consultar um especialista para um diagnóstico mais preciso.
      </p>
      <h3>Acertos: {{ result.score }}/10</h3>
      <div class="botoes">
        <button routerLink="/instituicao/home">SAIR</button>
        <button routerLink="/instituicao/jogos/letras-cadastro">REFAZER</button>
      </div>
    </div>
  </div>
</div>
