@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.button{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

.container {
  background-image: url("../../../../../assets/fundo.png");
  background-size: cover;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.conteudo {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
  transition: background-color 0.3s ease;
}
