<div class="sec-sobre">
  <div class="sobre-conteudo">
    <div class="sobre-imagem">
      <img loading="lazy" [src]="Nave">
    </div>

    <div class="cont-textos">
      <div class="s-titulo">
        <h1>
          Visual Essence
        </h1>
      </div>

      <div class="s-texto">
        <p>
          Uma plataforma de jogos seguros e divertidos para crianças,
          com monitoramento integrado da saúde visual.
          Com uma variedade de jogos educativos,
          os pais podem acompanhar o progresso e
          identificar possíveis problemas visuais
          enquanto seus filhos se divertem.
          Uma solução abrangente que une
          entretenimento digital e cuidados
          com a saúde infantil.
        </p>
      </div>
    </div>
  </div>
</div>
