<div class="sec-sobre" *ngIf="currentLanguage === 'pt'">
  <div class="sobre-conteudo">
    <div class="sobre-imagem">
      <img loading="lazy" [src]="Nave">
    </div>

    <div class="cont-textos" [ngClass]="getFontSizeClass()">
      <div class="s-titulo">
        <h1 id="txH1" [style.fontSize.px]="fontSizeService.getFontSize('txH1')">
          Visual Essence
        </h1>
      </div>

      <div class="s-texto">
        <p id="txSobre" [style.fontSize.px]="fontSizeService.getFontSize('txSobre')">
          Uma plataforma de jogos seguros e divertidos para crianças,
          com monitoramento integrado da saúde visual.
          Com uma variedade de jogos educativos,
          os pais podem acompanhar o progresso e
          identificar possíveis problemas visuais
          enquanto seus filhos se divertem.
          Uma solução abrangente que une
          entretenimento digital e cuidados
          com a saúde infantil.
        </p>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------------------->

<div class="sec-sobre" *ngIf="currentLanguage === 'en'">
  <div class="sobre-conteudo">
    <div class="sobre-imagem">
      <img loading="lazy" [src]="Nave">
    </div>

    <div class="cont-textos" [ngClass]="getFontSizeClass()">
      <div class="s-titulo">
        <h1 id="txH1" [style.fontSize.px]="fontSizeService.getFontSize('txH1')">
          Visual Essence
        </h1>
      </div>

      <div class="s-texto">
        <p id="txSobre" [style.fontSize.px]="fontSizeService.getFontSize('txSobre')">
          A safe and fun gaming platform for children,
          with integrated visual health monitoring.
          With a variety of educational games,
          parents can track progress and
          identify possible visual problems
          while your children have fun.
          A comprehensive solution that unites
          digital entertainment and care
          with child health.
        </p>
      </div>
    </div>
  </div>
</div>