<div class="container">
  <app-logo-menu></app-logo-menu>
  <div class="titulo">
    <h1>PAINEL EDUCATIVO</h1>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#DAFBFF"
      fill-opacity="1"
      d="M0,128L60,122.7C120,117,240,107,360,122.7C480,139,600,181,720,208C840,235,960,245,1080,245.3C1200,245,1320,235,1380,229.3L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
    ></path>
  </svg>

  <div class="parte2">
    <div class="imageOlho">
      <div class="tiOlho">
        <h2>A Importância de Não Coçar os Olhos</h2>
      </div>
      <img src="../../../../../assets/cocandoolho.png" alt="" />
    </div>

    <div class="txOlho">
      <p>
        Coçar os olhos pode causar irritações e aumentar o risco de infecções
        graves.
      </p>
      <p>
        Para evitar esses problemas, ensine seu filho a usar lenços limpos e a
        lavar as mãos antes de tocar nos olhos. Isso ajuda a manter a saúde
        ocular e previne a propagação de germes e bactérias.
      </p>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#DAFBFF"
      fill-opacity="1"
      d="M0,128L60,122.7C120,117,240,107,360,122.7C480,139,600,181,720,208C840,235,960,245,1080,245.3C1200,245,1320,235,1380,229.3L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
    ></path>
  </svg>

  <div class="parte3">
    <div class="txLavandomao">
      <div class="tiLavandomao">
        <h2>A Importância de Lavar as Mãos para a Saúde Ocular</h2>
      </div>
      <p>
        Lavar as mãos regularmente é fundamental para manter a saúde ocular e
        prevenir infecções. As mãos carregam germes e bactérias que podem ser
        transferidos para os olhos, aumentando o risco de conjuntivite e outras
        condições oculares. Ensine seu filho a lavar as mãos com água e sabão
        por pelo menos 20 segundos, especialmente antes de tocar nos olhos ou
        após atividades externas. Manter essa prática simples e eficaz protege a
        visão e evita problemas de saúde ocular.
      </p>
    </div>

    <div class="lavandomao">
      <img src="../../../../../assets/lavandomao.png" alt="" />
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#DAFBFF"
      fill-opacity="1"
      d="M0,128L60,122.7C120,117,240,107,360,122.7C480,139,600,181,720,208C840,235,960,245,1080,245.3C1200,245,1320,235,1380,229.3L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
    ></path>
  </svg>

  <div class="parte2">
    <div class="olho-conteudo">
      <div class="imageCuidando">
        <div class="tiCuidando">
          <h2>Cuidados ao Usar Dispositivos Eletrônicos</h2>
        </div>
        <img src="../../../../../assets/cuidando.png" alt="" />
      </div>

      <div class="txCuidando">
        <p>
          O uso prolongado de dispositivos eletrônicos pode causar fadiga ocular
          intensa, secura, dor e visão embaçada. Sem pausas, pode levar a
          problemas de visão graves, como miopia e alterações na saúde ocular.
          Para evitar essas complicações, siga a regra 20-20-20: a cada 20
          minutos, faça uma pausa e olhe para algo a 20 pés de distância por 20
          segundos. Ignorar essa prática pode resultar em desconforto e danos
          permanentes à visão. Proteja a saúde ocular do seu filho com essa
          simples rotina.
        </p>
      </div>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#DAFBFF"
      fill-opacity="1"
      d="M0,128L60,122.7C120,117,240,107,360,122.7C480,139,600,181,720,208C840,235,960,245,1080,245.3C1200,245,1320,235,1380,229.3L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
    ></path>
  </svg>

  <div class="parte3">
    <div class="txLupa">
      <div class="tiLupa">
        <h2>Reconhecendo Sinais de Problemas de Visão</h2>
      </div>
      <p>
        Fique atento a sinais de problemas de visão, como dificuldade para
        enxergar objetos distantes, inclinar a cabeça ao ler ou se aproximar
        excessivamente da tela. Caso note qualquer um desses comportamentos, é
        importante consultar um oftalmologista para uma avaliação completa.
        Identificar e tratar problemas de visão desde cedo é crucial para
        garantir a saúde ocular e o desenvolvimento visual adequado do seu
        filho.
      </p>
    </div>

    <div class="lupa">
      <img src="../../../../../assets/lupaPainel.png" alt="" />
    </div>
  </div>
  <app-footer></app-footer>
</div>
