<div class="sec-jogos">
  <app-inst-menu></app-inst-menu>
  <app-chat-bot-icone></app-chat-bot-icone>
  <div class="jogos-container">
    <h1>JOGOS</h1>
    <p>Jogos que ajudam a identificar possíveis problemas visuais.
      Venha aprender brincando!</p>

    <div class="jogos-box">
      <div class="jogos-daltonismo">
        <h2>Daltonismo</h2>
        <div class="jogos-img">
          <img loading="lazy" [src]="Dalt" routerLink="/instituicao/jogos/opcoes-daltonismo" />
        </div>
      </div>

      <div class="jogos-miopia">
        <h2>Miopia</h2>
        <div class="jogos-img">
          <img loading="lazy" routerLink="/instituicao/jogos/opcoes-miopia" [src]="Miop" />
        </div>
      </div>
    </div>
  </div>
</div>
