@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.sec-jogos {
    background-image: url("../../../../../assets/HomeImages/star1.png"),
        url("../../../../../assets/HomeImages/allplanets1.png"),
        url("../../../../../assets/HomeImages/planeta2.png"),
        url("../../../../../assets/HomeImages/background.png");
    background-size: cover, cover, 25% 50%;
    background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
    background-repeat: no-repeat;
    background-color: #010029;
    width: 100%;
    height: 100vh;
}

.jogos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  gap: 2em;
}

.jogos-container h1{
  font-size: 25px;
  font-weight: bolder;
}

.jogos-container p{
  font-size: 15px;
  width: 30em;
  text-align: center;
}

.jogos-text p{
  display: flex;
  flex-direction: column;
  width: 18em;
  align-items: center;
  text-align: center;
}

.jogos-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12em;
  padding: 10px;
}

.jogos-daltonismo, .jogos-miopia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.jogos-daltonismo img, .jogos-miopia img{
  cursor: pointer ;
  background-color: white;
  width: 15em;
  border-radius: 20px;
}

.jogos-daltonismo img:hover, .jogos-miopia img:hover{
  filter: brightness(1.1);
}

