@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
  background-image: url("../../../../../assets/fundo.png");
  background-size: cover;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100%;
}

.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2em;
}

.left{
  width: 30em;
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img{
  width: 22em;
  height: 22em;
  animation: animation ease-in-out 5s infinite
}

@keyframes animation {
  0% {
    transform: translateX(0) rotate(10deg);
  }
  50% {
    transform: translateY(10%) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(10deg);
  }
}

.right{
  width: 26em;
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;

background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.42);
}

p{
  width: 100%;
  height: 18em;
  margin: 20px;
  padding: 0 3em 0 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;

}

.btn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

button{
  background-color: #ffa600;
  border: none;
  padding: .8em 2.5em .8em 2.5em;
  border-radius: 10px;
  font-weight: 700;
}

button:hover{
  background-color: #ff6702;
}
