<div class="container">
<app-logo-menu-inst></app-logo-menu-inst>
  <div class="conteudo">
    <div class="left">
      <img loading="lazy" src="../../../../../assets/astroInstrucao.png" alt="" />
    </div>
    <div class="right">
      <h2>Instruções</h2>
      <p>
        Este jogo é uma atividade educativa para crianças. A criança deve ficar
        próxima ao computador, com o auxílio dos pais ao seu lado, ideal para
        crianças entre 4 e 8 anos. A tela exibirá uma imagem central que
        representa um objeto, e a criança deve identificar essa imagem e a sua
        cor. Abaixo da imagem, haverá quatro opções de cores para contornar. A
        criança pode aumentar o tamanho do pincel em até quatro tamanhos
        diferentes. Assim que finalizar uma fase, é só clicar no botão “Próximo”
        para avançar até o final, onde a página de resultados aparecerá.
      </p>
      <div class="btn">
        <button routerLink="/instituicao/home">Voltar</button>
        <button routerLink="/instituicao/jogos/figuras-coloridas">
          Iniciar
        </button>
      </div>
    </div>
  </div>
</div>
