@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
}

section {
  height: 100%;
}

.visual{
  width: 8em;
  height: 8em;
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 20em;
  background-color: #03040A;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.other-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 50em;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.pages li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.copy p {
  font-size: 15px;
  font-weight: lighter;
}

.pages ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  gap: 1em;
}

.regua {
  display: block;
  padding: 0;
  width: 95%;
  height: 2px;
  background-color: #ddd
}

.custom-shape-divider-bottom-1718164474 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718164474 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 87px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1718164474 .shape-fill {
  fill: #03040A;
}
