<div class="container">
  <div class="conteudo">
    <div class="box-entrar">
      <div class="b-content">
        <br>
        <div class="b-titulo">
          <p>
            Cadastrar
          </p>
        </div>
        <div class="b-form">
        <!-- COLOCAR LOGO NO CANTO EM ALGUM LUGAR -->

          <form (ngSubmit)="register()" #cadastroForm="ngForm">

            <div class="input-style">
              <label>Nome</label>
              <input class="input-s" type="text" name="" [(ngModel)]="UserPais.nome" [ngModelOptions]="{standalone: true}" required/>
              <br>
            </div>

            <div class="input-style">
              <label>Email</label>
              <input  class="input-s" type="email" name="" [(ngModel)]="UserPais.email" [ngModelOptions]="{standalone: true}" required/>
              <br>
            </div>

            <div class="input-style">
              <label>Senha</label>
              <div class="hide-show">
                <input  class="input-s"  [type]="showPassword1 ? 'text' : 'password'" name="password" id="password" [(ngModel)]="UserPais.senha" [ngModelOptions]="{standalone: true}" required/>
                  <img class="toggle-password" width="30px" height="30px" (click)="toggleShowPassword()" [src]="showPassword1 ? 'assets/olho.png' : 'assets/ocultar.png'">
              </div>

            </div>
            <div class="input-style">
              <br>
            <label>Confirmar Senha</label>
            <div class="hide-show">
              <input [type]="showPassword2 ? 'text' : 'password'" name="confirmarSenha" [(ngModel)]="confirmarSenha" required/>
                <img class="toggle-password" width="30px" height="30px" (click)="toggleShowPasswordConfirm()" [src]="showPassword2 ? 'assets/olho.png' : 'assets/ocultar.png'">
            </div>

            <div class="errorMessage" *ngIf="confirmarSenha !== UserPais.senha && cadastroForm.controls['confirmarSenha']?.touched">
              As senhas precisam ser iguais.
            </div>
            </div>

            <div class="b-terms">
              <br>
              <div class="checkbox">
                <input class="teste" type="checkbox" name="" required/>
              </div>
              <div class="label-text">
                <label>Li e estou de acordo com os <a [routerLink]="['/termos-de-uso']" routerLinkActive="router-link-active" >Termos de Uso</a></label>
              </div>
            </div>
            <div class="b-cont-sub">
              <button class="b-submit" type="submit" [disabled]="!cadastroForm.valid">Enviar</button>
            </div>
          </form>
        <div class="b-cadastrar">
          <p>Ja possuo uma conta
          <a [routerLink]="['/login-pais']" routerLinkActive="router-link-active" >Entrar</a><br>
          <a class="opc2" [routerLink]="['/opc-entrar']" routerLinkActive="router-link-active" >Voltar</a>
          </p>

        </div>

      </div>
    </div>
  </div>
</div>
