<div class="container">
  <app-logo-menu></app-logo-menu>
  <div class="conteudo">
    <div class="box-entrar">
      <div class="b-content">
        <br />
        <div class="b-form">
          <div class="b-titulo">
            <p>Cadastrar</p>
          </div>

          <form (ngSubmit)="register()" #cadastroForm="ngForm">

            <div class="input-style">
              <label>Nome</label>
              <input
                class="input-s"
                type="text"
                name="nome"
                [(ngModel)]="UserPais.nome"
                [ngModelOptions]="{standalone: true}"
                required
              />
              <br />
            </div>

            <div class="input-style">
              <label>Email</label>
              <input
                class="input-s"
                type="email"
                name="email"
                [(ngModel)]="UserPais.email"
                [ngModelOptions]="{standalone: true}"
                required
              />
              <br />
            </div>

            <div class="input-style">
              <label>Senha</label>
              <div class="hide-show">
                <input
                  class="input-s"
                  [type]="showPassword1 ? 'text' : 'password'"
                  name="senha"
                  id="senha"
                  [(ngModel)]="UserPais.senha"
                  [ngModelOptions]="{standalone: true}"
                  required
                />
                <img
                  loading="lazy"
                  class="toggle-password"
                  width="20px"
                  height="20px"
                  (click)="toggleShowPassword()"
                  [src]="showPassword1 ? 'assets/olho.png' : 'assets/ocultar.png'"
                />
              </div>
            </div>

            <div class="input-style">
              <br />
              <label>Confirmar Senha</label>
              <div class="hide-show">
                <input
                  [type]="showPassword2 ? 'text' : 'password'"
                  name="confirmarSenha"
                  [(ngModel)]="confirmarSenha"
                  required
                />
                <img
                  loading="lazy"
                  class="toggle-password"
                  width="20px"
                  height="20px"
                  (click)="toggleShowPasswordConfirm()"
                  [src]="showPassword2 ? 'assets/olho.png' : 'assets/ocultar.png'"
                />
              </div>

              <div class="errorMessage" *ngIf="confirmarSenha !== UserPais.senha && cadastroForm.controls['confirmarSenha']?.touched">
                As senhas precisam ser iguais.
              </div>
            </div>

            <div *ngIf="errorMessage" class="error-message">
              <p>{{ errorMessage }}</p>
            </div>

            <div class="b-cont-sub">
              <button class="b-submit" type="submit" [disabled]="!cadastroForm.valid">Enviar</button>
            </div>
          </form>

          <div class="b-cadastrar">
            <p>
              Já possui uma conta?
              <a [routerLink]="['/login-pais']" routerLinkActive="router-link-active">Entrar</a><br />
              <a class="opc2" [routerLink]="['/opc-entrar']" routerLinkActive="router-link-active">Voltar</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
