@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.position,
.emenda {
  display: flex;
  width: 100%;
  align-items: center;
}

.position {
  height: 100vh;
  justify-content: center;
  flex-direction: row;
}

.emenda {
  flex-direction: row;
  background-image: url("../../../../../assets/DaltonismoImages/Telas/Fundo2.png");
  background-size: cover;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pos2{
  padding: 35px;
}

.pos2 img {
  width: 24em;
  height: 24em;
  padding: 2em;
  animation: astronauta 7s ease;
  animation-iteration-count: infinite;}

@keyframes astronauta {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.form-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 35em;
  height: 25em;
  gap: 2em;
  background: #7499CD;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.form1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 25em;
  height: 2.8em;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
}

input:active,
input:focus {
  border-color: white;
  outline: none;
}

.input_submit {
  width: 25em;
  height: 2.8em;
  border: none;
  border-radius: 10px;
  background: #0A1D42;
  color: white;
}

.image_forms {
  width: 50%;
}

.imagem1 {
  width: 20%;
}

.posicaomenu,
.posicaomenu2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.posicaomenu {
  color: white;
  padding-left: 8px;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imagem2 {
  width: 30%;
}

.btnAm,
.btnA {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

