<div class="overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="conteudo-modal">
      <div class="img-modal">
        <img loading="lazy" [src]="user?.foto || '../../../../assets/user'" (click)="openImageUploadModal(userId)" alt="" width="150px" height="150px" />
        <div class="edit-icon">
          <img loading="lazy" src="../../../../assets/edit-icon.png" (click)="openImageUploadModal(userId)" />
        </div>
      </div>
      <div class="infos-modal">
        <p>{{user?.nome}}</p>
        <p>{{user?.email}}</p>
      </div>
      <div class="botoes-modal">
        <a routerLink="/Pais/Jogos/Historico" class="btn-modal">Histórico</a>
      </div>
      <a [routerLink]="['/opc-entrar']"
      class="btn-modal-2" (click)="logout()">Sair</a>
    </div>
  </div>
</div>
