<app-vlibras></app-vlibras>
<div class="content">
  <div class="criarS_Cont" *ngIf="!showOpCad" [ngClass]="{'fade_In': !showOpCad}">
    <div class="novaSala">
      <form (submit)="addSala()">
        <h3>NOVA SALA</h3>
        <input type="text" id="name" placeholder="Nome" required [(ngModel)]="sala.nome" [ngModelOptions]="{standalone: true}" (input)="validateForm()">
        <br>
        <input type="text" id="capacity" placeholder="Capacidade" required [(ngModel)]="sala.capacidade" [ngModelOptions]="{standalone: true}" (input)="validateForm()">
        <div class="botoes">
          <div class="btnCancelar">
            <button type="button" (click)="clearForm()">Cancelar</button>
          </div>
          <div class="btnSalvar">
            <button type="submit" [disabled]="!isFormValid || isSubmitting">Salvar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="salasExist">
      <div class="Salas">
        <h3>SALAS EXISTENTES</h3>
        <div class="barra" *ngIf="salas">
          <div class="salaInf" *ngFor="let sala of salas">
            <label for="" id="titSala">{{sala.nome}}</label>
            <div class="dados">
              <a [routerLink]="['/cadastros']">Crianças Cadastradas</a>
              <p>Quantidade:<label for="">{{sala.capacidade}}</label></p>
              <p><img src="../../../../assets/lixo.png" (click)="deleteSala(sala)" width="22px" height="22px" style="cursor: pointer;" alt=""></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
