@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  background-image: url("../../../../assets/HomeImages/star1.png"),
    url("../../../../assets/HomeImages/allplanets1.png"),
    url("../../../../assets/HomeImages/planeta2.png"),
    url("../../../../assets/HomeImages/background.png");
  background-size: cover, cover, 25% 50%;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100%;
}

.criarS_Opt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 10px;
  margin-left: 150px;
}

.criarS_Opt button {
  font-size: 19px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.criarS_Opt p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: none;
  padding: 0 30px 0 30px;

}


.criarS_Cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 10em;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

.novaSala form {
  width: 30em;
  height: 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 18px;
}

.novaSala input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 17px;
  width: 70%;
  padding: 5px;
  margin: 25px 40px 25px 70px;
  color: white;
  transition: border-color 0.3s ease-in-out;
}

.novaSala input:focus {
  border-color: gray;
}

.novaSala input::placeholder {
  color: gray;
}

.btnSalvar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btnSalvar button {
  background-color: green;
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  width: 110px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnCancelar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btnCancelar button {
  background-color: rgb(214, 7, 7);
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  width: 110px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnSalvar button:hover {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

.Salas {
  width: 30em;
  height: 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

.content {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.salaInf {
  margin-left: 23px;
  display: grid;
  place-items: center;
  height: 95px;
  width: 93%;
  border-radius: 25px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.salaExist{
  width: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra {
  width: 100%;
  height: 85%;
  margin-top: 10px;
  margin-left: -10px;
  overflow-x: hidden;

}

.barra::-webkit-scrollbar {
  background-color: white;
  border-radius: 10px;
  width: 7px;
}

.barra::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  width: 7px;
  cursor: pointer;
}

#titSala {
  font-size: 16px;
  margin-top: -5px;
}

.dados {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 5px;
  margin-top: -30px;
}

.dados p,
label {
  padding: 2px;
  margin: 10px;
  text-align: center;
  cursor: auto;
}

.dados a {
  cursor: pointer;
  padding: 2px;
  margin: 8px;
  text-align: center;
  color: aquamarine;
}

.botoes {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}


/*-----------------------------------------------------------*/

.fade_In {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#fade_Out {
  opacity: 1;
  animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.swal-container {
  max-width: 400px;
  /* Limita a largura máxima */
  padding: 0;
  /* Remove o padding extra */
  box-shadow: none;
  /* Remove a sombra para evitar overflow */
}

.swal2-popup {
  overflow: hidden !important;
  /* Garante que não haverá overflow */
}
