<app-logo-menu></app-logo-menu>
<div class="container">
  <div class="text1">
    <h1>Porque Doar?</h1>
    <p>
      Cada doação transforma vidas e enxerga um novo mundo. Ao contribuir, você
      oferece apoio, inspira mudanças e alimenta esperanças. <br />
      Além disso, fortalece nosso bem-estar emocional, trazendo um sentido de
      propósito. <br />
      Não importa o valor, cada contribuição conta.
    </p>
  </div>

  <div class="conteudo-texto">
    <div class="conteudo" *ngFor="let item of conteudos; let i = index">
      <div class="coluna" [ngClass]="{'reverse': i % 2 !== 0}">
        <div class="right-content">
          <img [src]="item.imagem" alt="{{ item.titulo }}" />
          <h3>{{ item.titulo }}</h3>
        </div>
        <div class="left-content" [ngClass]="{'align-start': i % 2 !== 0}">
          <p>{{ item.descricao }}</p>
          <button>
            <a [href]="item.link" target="_blank">Saiba Mais</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
