@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Joti One", serif; */
  font-weight: 700;
  font-style: normal;
}

.errorMessage
  {
    padding-top: 4px;
    color: red;
    font-size: 1em;
  }

.container {
  position: relative;
  background-image: url("../../../../assets/fundoUsuario.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vmin;
}

.content-divide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 10px;
  justify-content: center;
  margin-top: 1em;
}

.esc-form {
  width: 50%;
}

.dir-form {
  width: 50%;
}

.conteudo {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-entrar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1150px;
  height: 600px;
  border-radius: 60px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.b-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.b-form{

  width: 85%;

}

.b-titulo p{
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0 20px 0px;
}

.hide-show{
  display: flex;
  align-items: center;
  width: 100% !important;
  position: relative;
}

.toggle-password{
  position: absolute;
  z-index: 0;
  right: 5%;
}

.input-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  label {
    width: 100%;
    font-size: 25px;
    padding: 0 0 10px 0;
  }

  #icon {
    position: fixed;
    top: 51.5%;
    right: 760px;
    cursor: pointer;
  }
}

input {
  background-color: #D9D9D9;
  width: 100%;
  border: none;
  border-radius: 25px;
  height: 45px;
  font-size: 20px;
  outline: none;
  padding: 20px;
}

.b-forgetPassword a {
  color: #530083;
  text-decoration: none;
}


.b-forgetPassword a:hover {
  text-decoration: underline;
}

.b-cont-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 20px 0;
}

.b-submit {
  border: none;
  background-color: #530083;
  color: white;
  width: 50%;
  height: 45px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.b-submit:hover {
  background-color: rgb(92, 0, 173);
}

.b-cadastrar {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: #000000;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p .opc2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #530083;
  }

}

@media screen and (max-width: 1366px) {
  .box-entrar {
    width: 670px;
    height: 370px;
  }

  .b-content
  {
    width: 560px;
  }
  .b-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: auto;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 270px;
    width: 100%;
  }

  .content-divide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-top: 1em;
    padding: 0;

  }

  .b-titulo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .input-style{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;


    label{
      font-size: 15px;
      padding-bottom: 2px;
    }
    input {
      height: 15px;
      font-size: 10px;
      padding: 15px;

    }
    .toggle-password{
      width: 20px;
      height: 20px;
    }
  }

  .b-submit{
    height: 40px;
    font-size: 15px;
  }

  .b-cadastrar{
    font-size: 100%;
    width: 100%;
  }

  .b-forgetPassword{
    padding: 0;
  }
  .b-forgetPassword a{
    width: 100%;
    font-size: 12px ;
  }

  .b-terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .label-text{
    font-size: 12px;
  }

  .checkbox input{
    width: 12px;
  }

  .b-cont-sub{
    padding: 0;
  }
  .b-submit {
    width: 100%;;
    height: 35px;
    font-size: 20px;
  }

  .b-cadastrar {
    display: flex;
    font-size: 15px;

    padding: 3px;
    p .opc2 {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }
}

@media screen and (max-width: 960px) {
  .box-entrar {
    width: 640px;
    height: 370px;
  }

  .b-content
  {
    width: 560px;
  }
  .b-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: auto;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 270px;
    width: 100%;
  }

  .content-divide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-top: 1em;
    padding: 0;

  }

  .b-titulo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .input-style{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;


    label{
      font-size: 15px;
      padding-bottom: 2px;
    }
    input {
      height: 15px;
      font-size: 10px;
      padding: 15px;

    }
    .toggle-password{
      width: 20px;
      height: 20px;
    }
  }

  .b-submit{
    height: 40px;
    font-size: 15px;
  }

  .b-cadastrar{
    font-size: 100%;
    width: 100%;
  }

  .b-forgetPassword{
    padding: 0;
  }
  .b-forgetPassword a{
    width: 100%;
    font-size: 12px ;
  }

  .b-terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .label-text{
    font-size: 12px;
  }

  .checkbox input{
    width: 12px;
  }

  .b-cont-sub{
    padding: 0;
  }
  .b-submit {
    width: 100%;;
    height: 35px;
    font-size: 20px;
  }

  .b-cadastrar {
    display: flex;
    font-size: 15px;

    padding: 3px;
    p .opc2 {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }
}
