.sec-jogos {
  width: 100vw;
  height: 150vh;
}

.jogos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  height: 60%;
}

.jogos-container h1{
  font-size: 25px;
  font-weight: bolder;
}

.jogos-container p{
  font-size: 20px;
  width: 30em;
  text-align: center;
}

.jogos-text p{
  display: flex;
  flex-direction: column;
  width: 18em;
  align-items: center;
  text-align: center;
}

.jogos-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12em;
  padding: 10px;
}

.jogos-daltonismo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.jogos-daltonismo img{
  cursor: pointer ;
}
.jogos-miopia img{
  cursor: pointer ;
}

.jogos-miopia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
