@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #d9d9d9;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  background-image: url("../../../../assets/HomeImages/star1.png"),
    url("../../../../assets/HomeImages/allplanets1.png"),
    url("../../../../assets/HomeImages/planeta2.png"),
    url("../../../../assets/HomeImages/background.png");
  background-size: cover, cover, 25% 50%;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100vh;
}

.conteudo {
  display: flex;
  align-items: start;
  height: 85vh;
  justify-content: center;
}

.cadastros {
  width: 60em;
  height: 85vh;
  gap: 3em;
  display: flex;
  justify-content: center;
  align-items: start;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  padding: 20px;
}

.imgAluno {
  background-color: white;
  border-radius: 20px;
  width: 10em;
  height: 10em;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  gap: 1em;
}

.imgAluno img {
  border-radius: 20px;
  width: 10em;
  height: 10em;
}

.tudinho {
  width: 45em;
  height: 78vh;
  padding: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  justify-content: space-between;
}

.one {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  font-weight: bolder;
}

.two {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25em;
  font-size: 16px;
}

.three {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 25em;
  font-size: 16px;
}

.informacoes {
  border: 1.3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 85%;
  gap: 1em;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 10px;
}

.barra {
  width: 40em;
  overflow: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.informacoes::-webkit-scrollbar {
  background-color: gray;
  width: 5px;
  height: 20em;
  padding-right: 51px;
}

.informacoes::-webkit-scrollbar-thumb {
  height: 20em;
  background-color: white;
  border-radius: 10px;
  width: 5px;
  cursor: pointer;
}

.historico {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid black;
  flex-direction: row;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.tabela-nome,
.tabela-data,
.tabela-pontos {
  width: 11.9em;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dowload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 14em;
  gap: 8px;
  cursor: pointer;
}

.dowload p {
  font-size: 11px;
  background-color: transparent;
  border: none;
  width: 14em;
  cursor: pointer;
}

.dowload img {
  width: 22px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .imgAluno p {
    font-size: 20px;
  }

  .imgAluno {
    width: 14%;
    height: 20%;
  }
}

@media screen and (max-width: 1440px) {
  .dowload button {
    font-size: 22px;
  }

  .one {
    font-size: 23px;
  }

  .historico {
    font-size: 25px;
  }
}
