<div class="container">
  <app-inst-menu></app-inst-menu>
  <app-chat-bot-icone></app-chat-bot-icone>
  <app-vlibras></app-vlibras>
  <div class="conteudo">
    <div class="formulario">
      <form (ngSubmit)="updateCrianca()">
        <legend id="txLB" [style.fontSize.px]="fontSizeService.getFontSize('txLB')">EDITAR DADOS CRIANÇA</legend>
        <div class="I">
          <input
            type="text"
            class="inteiro"
            name="nomeC"
            id="nomeC"
            required
            [(ngModel)]="crianca.nome"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Nome"
            id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
          />
        </div>
        <br />
        <div class="linD">
          <div class="E">
            <input
              type="date"
              class="esquerdo"
              name="dataNas"
              id="dataNas"
              required
              [(ngModel)]="crianca.dataNascimento"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Data Nasc."
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
            <label for="dataNasc" class="esquerdoLabel" id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')">Data Nasc.</label>
          </div>

          <div class="D">
            <input
              type="text"
              class="direito"
              name="cns"
              id="cns"
              required
              [showMaskTyped]="false"
              mask="000 0000 0000 0000"
              [(ngModel)]="crianca.cns"
              [ngModelOptions]="{ standalone: true }"
              placeholder="CNS"
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
          </div>
        </div>
        <br />
        <div class="linD">
          <select
            [(ngModel)]="crianca.sexo"
            class="selectE"
            name="sex"
            id="sex"
            required
            id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
          >
            <option value="" disabled>Sexo</option>
            <option *ngFor="let sexo of sexos" [value]="sexo.valor">
              {{ sexo.texto }}
            </option>
          </select>
        </div>
        <br />
        <div class="I">
          <input
            type="text"
            class="inteiro"
            name="nomeRes"
            id="nomeRes"
            required
            [(ngModel)]="crianca.nomeResp"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Nome Responsável"
            id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
          />
        </div>

        <br />

        <div class="linD">
          <div class="E">
            <input
              type="text"
              class="esquerdo"
              name="cpf"
              id="cpf"
              required
              [showMaskTyped]="false"
              mask="000.000.000-00"
              [(ngModel)]="crianca.cpf"
              [ngModelOptions]="{ standalone: true }"
              placeholder="CPF"
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
          </div>

          <div class="D">
            <input
              type="text"
              class="direito"
              name="rg"
              id="rg"
              required
              [showMaskTyped]="false"
              mask="00.000.000-0"
              [(ngModel)]="crianca.rg"
              [ngModelOptions]="{ standalone: true }"
              placeholder="RG"
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
          </div>
        </div>

        <br />

        <div class="linD">
          <div class="E">
            <input
              type="text"
              class="esquerdo"
              name="tel1"
              id="tel1"
              required
              [showMaskTyped]="false"
              mask="(00)0000-0000"
              [(ngModel)]="crianca.tel1"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Telefone 1"
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
          </div>

          <div class="D">
            <input
              type="text"
              class="direito"
              name="end"
              id="end"
              required
              [(ngModel)]="crianca.endereco"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Endereço"
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
          </div>
        </div>

        <br />

        <div class="linD">
          <div class="E">
            <input
              type="text"
              class="esquerdo"
              name="tel2"
              id="tel2"
              required
              [showMaskTyped]="false"
              mask="(00)0000-0000"
              [(ngModel)]="crianca.tel2"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Telefone 2"
              id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
            />
          </div>

          <select
            name="sala"
            id="sala"
            required
            [(ngModel)]="crianca.idSala"
            [ngModelOptions]="{ standalone: true }"
            (change)="onSalaChange($event)"
            id="txIL" [style.fontSize.px]="fontSizeService.getFontSize('txIL')"
          >
            <option value="" selected disabled>Salas</option>
            <option *ngFor="let sala of salas" [value]="sala.id">
              {{ sala.nome }} - Capacidade: {{ sala.capacidade }}
            </option>
          </select>
        </div>

        <br />

        <div class="btns">
          <button type="submit" class="btnSalvar" id="txLB" [style.fontSize.px]="fontSizeService.getFontSize('txLB')">Salvar</button>
          <button [routerLink]="['/instituicao/cadastros']" class="btnCancelar" id="txLB" [style.fontSize.px]="fontSizeService.getFontSize('txLB')">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>