<div class="sec-ong">
  <div class="ong-container">
    <div class="cont-left">
      <h1>Ajude a Melhorar a Visão de Milhares</h1>
      <p>
        Cada doação transforma vidas e enxerga um novo mundo. Ao contribuir,
        você oferece apoio, inspira mudanças e alimenta esperanças. Além disso,
        fortalece nosso bem-estar emocional, trazendo um sentido de propósito.
        Não importa o valor, cada contribuição conta. Faça a diferença e ajude a
        construir um mundo melhor, onde todos possam ver um futuro brilhante.
      </p>
    </div>
    <div class="cont-right">
      <img [src]="Doe" />
      <a class="ong-button"> Doe! </a>
    </div>
  </div>
</div>
