<div class="sec-ong" *ngIf="currentLanguage === 'pt'">
  <div class="ong-container">
    <div class="cont-left" [ngClass]="getFontSizeClass()">
      <h1 id="txH1" [style.fontSize.px]="fontSizeService.getFontSize('txH1')">Ajude a Melhorar a Visão de Milhares</h1>
      <p id="txDoe" [style.fontSize.px]="fontSizeService.getFontSize('txDoe')">
        Cada doação transforma vidas e enxerga um novo mundo. Ao contribuir,
        você oferece apoio, inspira mudanças e alimenta esperanças. Além disso,
        fortalece nosso bem-estar emocional, trazendo um sentido de propósito.
        Não importa o valor, cada contribuição conta. Faça a diferença e ajude a
        construir um mundo melhor, onde todos possam ver um futuro brilhante.
      </p>
    </div>
    <div class="cont-right">
      <img loading="lazy" [src]="Doe" />
      <a class="ong-button" id="txDoe" [style.fontSize.px]="fontSizeService.getFontSize('txDoe')"
        routerLink="/Pais/Doe"> Doe! </a>
    </div>
  </div>
</div>

<!------------------------------------------------------------------------->

<div class="sec-ong" *ngIf="currentLanguage === 'en'">
  <div class="ong-container">
    <div class="cont-left" [ngClass]="getFontSizeClass()">
      <h1 id="txH1" [style.fontSize.px]="fontSizeService.getFontSize('txH1')">Help Improve the Vision of Thousands</h1>
      <p id="txDoe" [style.fontSize.px]="fontSizeService.getFontSize('txDoe')">
        Each donation transforms lives and sees a new world. By contributing,
        you offer support, inspire change and raise hope. Furthermore,
        strengthens our emotional well-being, bringing a sense of purpose.
        No matter the amount, every contribution counts. Make a difference and help
        build a better world, where everyone can see a bright future.
      </p>
    </div>
    <div class="cont-right">
      <img loading="lazy" [src]="Doe" />
      <a class="ong-button" id="txDoe" [style.fontSize.px]="fontSizeService.getFontSize('txDoe')"
        routerLink="/Pais/Doe"> Donate! </a>
    </div>
  </div>
</div>