<div class="container">
    <!--<div class="menu">
        <div class="logo">
            <img src="../../../assets/HomeImages/VisualEssenceLogo.svg">
        </div>

        <div class="MenuOpt">
            <ul>
                <li>
                    <div class="AumDim"><button>A+/</button><button>A-</button></div>
                </li>
                <li><a href="">HOME</a></li>
                <li><a [routerLink]="['/criar-sala']">CRIAR SALA</a></li>
                <li><a [routerLink]="['/cadastros']">CADASTROS</a></li>
                <li><a href="">JOGOS</a></li>
                <li><a href="">HISTÓRICO</a></li>
                <li><button class="btnIdi"><img src="assets/bdEUA.webp"></button></li>
            </ul>
        </div>

        <div class="MenuAcco">
            <div *ngIf="user" class="MenuConta">
                <img [src]="Perfil" alt="">
                <p>{{user.nome}}</p>
            </div>

            <div class="MenuLogout">
                <img [src]="Logout" alt="" [routerLink]="['/opc-entrar']" routerLinkActive="router-link-active"
                    (click)="logout()">
            </div>
        </div>
    </div>

    <div class="criarS_Opt">
        <button>CRIAR SALA</button>
        <p>|</p>
        <button>CADASTRAR CRIANÇA</button>
    </div>-->

    <div class="conteudo" *ngIf="!showNew" [ngClass]="{'fade_In': !showNew}">
        <div class="formulario">
            <form action="">
                <legend>DADOS CRIANÇA</legend>

                <div class="I">
                    <input type="text" class="inteiro" name="nomeC" id="" required>
                    <label for="nomeC">Nome</label>
                </div>

                <br>

                <div class="linD">
                    <div class="E">
                        <input type="date" class="esquerdo" name="dataNas" id="" required min="2000-01-01">
                        <label for="dataNas" class="esquerdoLabel">Data Nasc.</label>
                    </div>


                    <div class="D">
                        <input type="text" class="direito" name="cns" id="" required>
                        <label for="cns" class="direitoLabel">CNS</label>
                    </div>
                </div>

                <br>

                <div class="linD">
                    <select (change)="SelectChange($event, 'sexo')" [(ngModel)]="selectSexo" class="selectE" name="sex"
                        id="" required>
                        <option value="" disabled>Sexo</option>
                        <option value="bra"></option>
                        <option value="fem">Feminino</option>
                        <option value="mas">Masculino</option>
                    </select>
                </div>

                <br>

                <div class="I">
                    <input type="text" class="inteiro" name="nomeRes" id="" required>
                    <label for="nomeRes">Nome Responsável</label>
                </div>

                <br>

                <div class="linD">
                    <div class="E">
                        <input type="text" class="esquerdo" name="cpf" id="" required>
                        <label for="cpf" class="esquerdoLabel">CPF</label>
                    </div>

                    <div class="D">
                        <input type="text" class="direito" name="rg" id="" required>
                        <label for="rg" class="direitoLabel">RG</label>
                    </div>
                </div>

                <br>

                <div class="linD">
                    <div class="E">
                        <input type="text" class="esquerdo" name="tel1" id="" required>
                        <label for="tel1" class="esquerdoLabel">Telefone 1</label>
                    </div>
                    <div class="D">
                        <input type="text" class="direito" name="end" id="" required>
                        <label for="end" class="direitoLabel">Endereço</label>
                    </div>
                </div>

                <br>

                <div class="linD">
                    <div class="E">
                        <input type="text" class="esquerdo" name="tel2" id="" required>
                        <label for="tel2" class="esquerdoLabel">Telefone 2</label>
                    </div>


                    <select (change)="SelectChange($event, 'sala')" [(ngModel)]="selectSala" class="selectD" name="sala"
                        id="" required>
                        <option value="" disabled>Selecionar Sala</option>
                        <option value="bra"></option>
                    </select>

                </div>

                <br>

                <div class="btns">
                    <button type="submit" class="btnSalvar">Salvar</button>
                    <button type="reset" class="btnCancelar">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>