@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
  background-image: url("../../../../assets/HomeImages/star1.png"),
      url("../../../../assets/HomeImages/allplanets1.png"),
      url("../../../../assets/HomeImages/planeta2.png"),
      url("../../../../assets/HomeImages/background.png");
  background-size: cover, cover, 25% 50%;
  background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
  background-repeat: no-repeat;
  background-color: #010029;
  width: 100%;
  height: 100%;
}


.criarS_Opt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    /*margin: 25px 0 0 150px;*/
    padding: 10px;
    margin-left: 150px;
  }

  .criarS_Opt button {
    font-size: 19px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;

  }

.criarS_Opt p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: none;
    padding: 0 30px 0 30px;
}

.conteudo {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    animation: fadeOut 0.5s forwards;
  }

  .formulario {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

form{
  padding: 2em;
}

legend {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: -5px;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 17px;
    padding: 2px;
    position: relative;
    color: white;
    /*margin: 25px 40px 25px 70px;*/
}

label {
    font-size: 17px;
    position: absolute;
    cursor: text;
    pointer-events: none;
    left: 5px;
    transition: 0.5s ease-in-out;
}

input:focus,
input:valid {
    border-bottom: 2px solid cornflowerblue;
}

input:focus~label,
input:valid~label {
    transform: translateY(-20px);
    font-size: 13px;
    color: cornflowerblue;
}

.linD {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;

    select {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  .I {
    position: relative;
    padding-top: 6px;
    top: 10px;
    width:100%;
  }

  .inteiro {
    width: 500px;
  }

  .E {
    width: 50%;
  }

  .esquerdo {
    width: 85%;
  }

  .D {
    width: 50%;
  }

  .direito {
    width: 85%;
    left: 15%;
  }

  .direitoLabel {
    margin-left: 285px;
  }

  input[type="date"] {
    color: transparent;
    transition: 0.5s ease-in-out;
}

input[type=date]:valid,
input[type=date]:focus {
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

/*
input:invalid+span:after {
    content: "✖";
    padding-left: 5px;
    }

    input:valid+span:after {
    content: "✓";
    padding-left: 5px;
}
*/

select {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 17px;
  padding: 2px;
  color: white;
}

.selectD {
  display: flex;
  width: 42.5%;
    margin-left: 7.5%;
}

.selectE {
    width: 42.5%;
}

select option {
    color: black;
    background-color: rgb(107, 126, 161);
}

.btns {
    height: 35px;
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btns button {
    width: 130px;
    height: 30px;
    color: white;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btnSalvar {
    background-color: green;
    position: relative;
    right: 15px;
}

.btnCancelar {
    background-color: darkred;
    position: relative;
    left: 15px;
}

.btnSalvar:hover {
    background-color: forestgreen;
    color: white;
    font-weight: bold;
}

.btnCancelar:hover {
    background-color: firebrick;
    color: white;
    font-weight: bold;
}

/*-----------------------------------------------------------*/

.fade_In {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#fade_Out {
    opacity: 1;
    animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


