<div class="container">
  <app-inst-menu></app-inst-menu>
  <div class="conteudo" *ngIf="!showNew" [ngClass]="{ fade_In: !showNew }">
    <div class="formulario">
      <form (ngSubmit)="cadastrarCrianca()">
          <legend>DADOS CRIANÇA</legend>
          <div class="I">
            <input type="text" class="inteiro" name="nomeC" id="" required [(ngModel)]="dadosCriancas.nome" [ngModelOptions]="{standalone: true}" />
            <label for="nomeC">Nome</label>
          </div>

          <br/>

          <div class="linD">
            <div class="E">
              <input
                type="date"
                class="esquerdo"
                name="dataNas"
                id=""
                required
                min="01-01-0001" [(ngModel)]="dadosCriancas.dataNascimento" [ngModelOptions]="{standalone: true}"
              />
              <label for="dataNas" class="esquerdoLabel">Data Nasc.</label>
            </div>

            <div class="D">
              <input type="text" class="direito" name="cns" id="" required [showMaskTyped]="false" mask="000 0000 0000 0000" [(ngModel)]="dadosCriancas.cns" [ngModelOptions]="{standalone: true}" />
              <label for="cns" class="direitoLabel" >CNS</label>
            </div>
          </div>

          <br />

          <div class="linD">
            <select
              [(ngModel)]="dadosCriancas.sexo"
              class="selectE"
              name="sex"
              id=""
              required
            >
              <option value="" disabled>Sexo</option>
              <option *ngFor="let sexo of sexos" [value]="sexo.valor">{{ sexo.texto }}</option>

            </select>
          </div>

          <br />

          <div class="I">
            <input type="text" class="inteiro" name="nomeRes" id="" required [(ngModel)]="dadosCriancas.nomeResp" [ngModelOptions]="{standalone: true}" />
            <label for="nomeRes" >Nome Responsável</label>
          </div>

          <br />

          <div class="linD">
            <div class="E">
              <input type="text" class="esquerdo" name="cpf" id="" required [showMaskTyped]="false" mask="000.000.000-00" [(ngModel)]="dadosCriancas.cpf" [ngModelOptions]="{standalone: true}" />
              <label for="cpf" class="esquerdoLabel">CPF</label>
            </div>

            <div class="D">
              <input type="text" class="direito" name="rg" id=""  [showMaskTyped]="false" mask="00.000.000-0"  required [(ngModel)]="dadosCriancas.rg" [ngModelOptions]="{standalone: true}"/>
              <label for="rg" class="direitoLabel">RG</label>
            </div>
          </div>

          <br />

          <div class="linD">
            <div class="E">
              <input type="text" class="esquerdo" name="tel1" id="" [showMaskTyped]="false" mask="(00)0000-0000" required [(ngModel)]="dadosCriancas.tel1" [ngModelOptions]="{standalone: true}"/>
              <label for="tel1" class="esquerdoLabel">Telefone 1</label>
            </div>
            <div class="D">
              <input type="text" class="direito" name="end" id="" required [(ngModel)]="dadosCriancas.endereco" [ngModelOptions]="{standalone: true}"/>
              <label for="end" class="direitoLabel">Endereço</label>
            </div>
          </div>

          <br />

          <div class="linD">
            <div class="E">
              <input type="text" class="esquerdo" name="tel2" id="" required [showMaskTyped]="false" mask="(00)0000-0000" [(ngModel)]="dadosCriancas.tel2" [ngModelOptions]="{standalone: true}"/>
              <label for="tel2" class="esquerdoLabel">Telefone 2</label>
            </div>

            <select name="sala" id="" required [(ngModel)]="dadosCriancas.idSala" [ngModelOptions]="{standalone: true}">
              <option value="0" selected disabled>Salas</option>
              <option *ngFor="let sala of salas" [value]="sala.id">{{ sala.nome }} - Capacidade: {{ sala.capacidade }}</option>
            </select>
          </div>


          <br/>

          <div class="btns">
            <button type="submit" class="btnSalvar">Salvar</button>
            <button
              [routerLink]="['/instituicao/criar-sala']"
              class="btnCancelar">
              Cancelar
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
