<body>
    <main>
      <div class="container">
        <div class="estrelas-fundo"></div>
        <div class="fundo-nav">
          <img class="astro" src="img/astro.png" width="170px" height="170px" alt="">
          <img class="nave" src="img/nave.png" width="250px" height="250px" alt="">
        </div>


        <div class="alinhamento">

          <div class="jogos">

            <div class="teste">

            <div class="titulo-jogo">
              <h1>Jogos</h1>
            </div>

            <div class="opcoes-jogo">
              <div class="contjogos">
                 <div class="btn-opc">
                <p>Miopia</p>
                <img src="img/img1.png" width="70px" height="70px" alt="" />
              </div>

              <div class="btn-opc">
                <p>Daltonismo</p>
                <img src="img/img2.png" width="70px" height="70px" alt="" />
              </div>
            </div>
            </div>

            </div>
            </div>

          <div class="historico">
            <div class="titulo-hist">
              <h1>Histórico</h1>
            </div>

            <div class="box-oveflow">

              <div class="conteudo-historico">
                <div class="Opcoes-hist">
                  <div class="titulo">
                    <img src="img/lupa 1.png" width="20px" height="20px" alt="icon lupa"> <h3>Daltonismo</h3>
                  </div>

                  <div class="row">
                    <div class="list">
                      <p>Nome:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Idade:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Acertos:</p>
                      <p>0</p>
                    </div>
                  </div>

                  <div class="download">
                    <img src="img/download 1.png" width="20px" height="20px" alt="icon download"><p>Baixar Diagnostico</p>
                  </div>
                </div>
              </div>

              <div class="conteudo-historico">
                <div class="Opcoes-hist">
                  <div class="titulo">
                    <img src="img/lupa 1.png" width="20px" height="20px" alt="icon lupa"> <h3>Daltonismo</h3>
                  </div>

                  <div class="row">
                    <div class="list">
                      <p>Nome:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Idade:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Acertos:</p>
                      <p>0</p>
                    </div>
                  </div>

                  <div class="download">
                    <img src="img/download 1.png" width="20px" height="20px" alt="icon download"><p>Baixar Diagnostico</p>                  </div>
                </div>
              </div>

              <div class="conteudo-historico">
                <div class="Opcoes-hist">
                  <div class="titulo">
                   <img src="img/lupa 1.png" width="20px" height="20px" alt="icon lupa"> <h3>Daltonismo</h3>
                  </div>

                  <div class="row">
                    <div class="list">
                      <p>Nome:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Idade:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Acertos:</p>
                      <p>0</p>
                    </div>
                  </div>

                  <div class="download">
                    <img src="img/download 1.png" width="20px" height="20px" alt="icon download"><p>Baixar Diagnostico</p>                  </div>
                </div>
              </div>

              <div class="conteudo-historico">
                <div class="Opcoes-hist">
                  <div class="titulo">
                    <img src="img/lupa 1.png" width="20px" height="20px" alt="icon lupa"> <h3>Daltonismo</h3>
                  </div>

                  <div class="row">
                    <div class="list">
                      <p>Nome:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Idade:</p>
                      <p>0</p>
                    </div>
                    <div class="list">
                      <p>Acertos:</p>
                      <p>0</p>
                    </div>
                  </div>

                  <div class="download">
                    <img src="img/download 1.png" width="20px" height="20px" alt="icon download"><p>Baixar Diagnostico</p>                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
