<div class="container">
  <app-logo-menu></app-logo-menu>
  <app-vlibras></app-vlibras>
  <app-chat-bot-icone></app-chat-bot-icone>
  <div class="alinhamento">
    <div class="jogos">
      <div class="titulo-jogo">
        <h1>Jogos</h1>
      </div>

      <div class="opcoes-jogo">
        <div class="contjogos" id="custom-bar">
          <div class="btn-opc">
            <p>Miopia Objetos</p>
            <img
              loading="lazy"
              src="../../../../assets/HomeImages/MiopiaGaroto.png"
              (click)="getHistoricoMiopia()"
              width="70px"
              height="70px"
              alt="Icone Miopia"
            />
          </div>

          <div class="btn-opc">
            <p>Miopia Letras</p>
            <img
              loading="lazy"
              src="../../../../assets/HomeImages/MiopiaGarota.png"
              (click)="getHistoricoMiopiaLetras()"
              width="70px"
              height="70px"
              alt="Icone Miopia"
            />
          </div>

          <div class="btn-opc">
            <p>Daltonismo Animais</p>
            <img
              loading="lazy"
              src="../../../../assets/HomeImages/DaltonismoGarotaDois.png"
              (click)="getHistoricoDaltonismoAnimais()"
              width="70px"
              height="70px"
              alt="Icone Figuras Coloridas"
            />
          </div>

          <div class="btn-opc">
            <p>Daltonismo Numeros</p>
            <img
              loading="lazy"
              src="../../../../assets/HomeImages/DaltonismoGarota.png"
              (click)="getHistoricoDaltonismoNumeros()"
              width="70px"
              height="70px"
              alt="Icone Figuras Coloridas"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="historico">
      <div class="titulo-hist">
        <h1>Histórico</h1>
      </div>

      <div class="box-oveflow">
        <div class="none-info" *ngIf="!historico || historico.length === 0">
          <p>Nenhuma informação encontrada!</p>
        </div>
        <div class="list-content" id="custom-bar">
          <div class="conteudo-historico" *ngFor="let item of historico">
            <div class="Opcoes-hist">
              <div class="titulo">
                <img
                  src="../../../../assets/InstHistorico/lupa.png"
                  width="20px"
                  height="20px"
                  alt="Icone lupa"
                />
                <h3>{{ item.nomeJogo }}</h3>
              </div>

              <div class="row">
                <div class="list">
                  <p>
                    <strong>Nome:</strong> {{ truncateName(item.nomeCrianca) }}
                  </p>
                </div>

                <div class="list">
                  <p><strong>Pontuação Total:</strong> {{ item.pontuacao }}</p>

                </div>
              </div>

              <div class="download">
                <img
                  src="../../../../assets/InstHistorico/download.png"
                  width="20px"
                  height="20px"
                  alt="Icone download"
                />
                <p>Baixar Diagnóstico</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
