<div class="container">
  <app-logo-menu></app-logo-menu>
  <div class="conteudo">
    <div class="left">
      <img src="../../../../../assets/astroInstrucao.png" alt="">
    </div>
    <div class="right">
          <h2>Instruções</h2>
          <p>
            Este jogo é uma atividade educativa para crianças. A tela exibirá uma
            imagem central representando um objeto, como uma casa ou um carro.
            Abaixo da imagem, haverá três botões com diferentes opções de objetos.
            As crianças devem observar a imagem central e escolher o botão que
            corresponde ao objeto exibido. Posicione as crianças a cerca de 3 metros
            da tela para garantir uma boa visibilidade. Divirta-se com a atividade!
          </p>
        <div class="btn">
          <button routerLink="/Pais/Home">Voltar</button>
          <button routerLink="/Pais/jogos/miopia">Iniciar</button>
        </div>
      </div>
    </div>
</div>
