@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    background-size: cover, cover, 25% 50%;
    background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
    background-repeat: no-repeat;
    background-color: #010029;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 100px;
    height: 80px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.MenuOpt ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    flex-direction: row;
    width: 50em;
    font-weight: bold;
    margin: 10px 200px 10px 150px;
    gap: 3em;
}

.btnIdi {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }
}

.AumDim {
    display: flex;
    gap: 3px;
    position: relative;
}

.AumDim button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.AumDim::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: -10%;
    transition: 0.5s ease-in-out;
}

.AumDim:hover::after {
    width: 115%;
}

.MenuOpt ul li a::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: -8%;
    transition: 0.5s ease-in-out;
}

a {
    position: relative;
    letter-spacing: 0.5px;
}

.MenuOpt ul li a:hover::after {
    width: 115%;
}

.MenuAcco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
    font-weight: bold;

    img {
        width: 35px;
        height: 35px;
    }
}

.MenuConta {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.MenuConta img {
    border-radius: 100%;
}

.criarS_Opt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 10px;
    margin-left: 150px;
}

.criarS_Opt button {
    font-size: 19px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.criarS_Opt p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: none;
    padding: 0 30px 0 30px;

}

.criarS_Cont {
    width: 99%;
    height: 77%;
    display: flex;
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

.novaSala {
    width: 50%;
    display: flex;
    justify-content: center;
}

.novaSala form {
    width: 70%;
    height: 55%;
    margin-top: 25px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 18px;
}

.novaSala input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 17px;
    width: 70%;
    padding: 5px;
    margin: 25px 40px 25px 70px;
    color: white;
    transition: border-color 0.3s ease-in-out;
}

.novaSala input:focus {
    border-color: gray;
}

.novaSala input::placeholder {
    color: gray;
}

.btnSalvar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btnSalvar button {
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    width: 110px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btnSalvar button:hover {
    background-color: forestgreen;
    color: white;
    font-weight: bold;
}

.salasExist {
    width: 50%;
    display: flex;
    justify-content: center;
}

.Salas {
    width: 62%;
    height: 95%;
    margin-top: 25px;
    margin-right: 35px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

.salaInf {
    margin-left: 23px;
    display: grid;
    place-items: center;
    height: 95px;
    width: 93%;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.barra {
    width: 100%;
    height: 85%;
    margin-top: 10px;
    margin-left: -10px;
    overflow-x: hidden;
}

.barra::-webkit-scrollbar {
    background-color: white;
    border-radius: 10px;
    width: 7px;
}

.barra::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    width: 7px;
    cursor: pointer;
}

#titSala {
    font-size: 16px;
    margin-top: -5px;
}

.dados {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    margin-top: -30px;
}

.dados p,
label {
    padding: 2px;
    margin: 10px;
    text-align: center;
    cursor: auto;
}

.dados a {
    cursor: pointer;
    padding: 2px;
    margin: 8px;
    text-align: center;
    color: aquamarine;
}

/*-----------------------------------------------------------*/

.fade_In {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#fade_Out {
    opacity: 1;
    animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}