<div class="container">
    <app-inst-menu></app-inst-menu>
    <app-vlibras></app-vlibras>
    <div class="conteudo" *ngIf="!showNew" [ngClass]="{'fade_In': !showNew}">
        <div class="formulario">
            <form action="">
                <legend id="txLB" [style.fontSize.px]="fontSizeService.getFontSize('txLB')">CADASTRO EM MASSA</legend>

                <select (change)="SelectChange($event, 'sala')" [(ngModel)]="selectSala" name="sala" id="" required
                    id="txSA" [style.fontSize.px]="fontSizeService.getFontSize('txSA')">
                    <option value="" disabled>Selecionar Sala</option>
                    <option value="bra"></option>
                </select>

                <br>

                <div class="arqExc" (click)="fileUpl()">
                    <label for="labelFile">
                        <span id="txSA" [style.fontSize.px]="fontSizeService.getFontSize('txSA')">
                            {{fileName ? fileName : 'Exportar Arquivo Excel' }}
                        </span>
                    </label>
                    <img loading="lazy" src="../../../assets/imgUpl.png" alt="">
                </div>
                <input type="file" #inputFile (change)="fileSel($event)" name="arqExcel" id="">

                <br>

                <div class="btns" [ngClass]="getFontSizeClass()">
                    <button type="submit" class="btnSalvar" id="txLB"
                        [style.fontSize.px]="fontSizeService.getFontSize('txLB')">Salvar</button>
                    <button type="reset" class="btnCancelar" [routerLink]="['/instituicao/criar-sala']"
                        class="btnCancelar" id="txLB"
                        [style.fontSize.px]="fontSizeService.getFontSize('txLB')">Cancelar</button>
                </div>

            </form>
        </div>
    </div>
</div>