@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    background-image: url("../../../assets/HomeImages/star1.png"),
        url("../../../assets/HomeImages/allplanets1.png"),
        url("../../../assets/HomeImages/planeta2.png"),
        url("../../../assets/HomeImages/background.png");
    background-size: cover, cover, 25% 50%;
    background-position: 0 0, right -20px top -100px, left -125px bottom -75px;
    background-repeat: no-repeat;
    background-color: #010029;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 100px;
    height: 80px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.MenuOpt ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    flex-direction: row;
    width: 50em;
    font-weight: bold;
    margin: 10px 200px 10px 150px;
    gap: 3em;
}

.btnIdi {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }
}

.AumDim {
    display: flex;
    gap: 3px;
    position: relative;
}

.AumDim button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.AumDim::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: -10%;
    transition: 0.5s ease-in-out;
}

.AumDim:hover::after {
    width: 115%;
}

.MenuOpt ul li a::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: -8%;
    transition: 0.5s ease-in-out;
}

a {
    position: relative;
    letter-spacing: 0.5px;
}

.MenuOpt ul li a:hover::after {
    width: 115%;
}

.MenuAcco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
    font-weight: bold;

    img {
        width: 35px;
        height: 35px;
    }
}

.MenuConta {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.MenuConta img {
    border-radius: 100%;
}

.criarS_Opt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    /*margin: 25px 0 0 150px;*/
    padding: 10px;
    margin-left: 150px;
}

.criarS_Opt button {
    font-size: 19px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.criarS_Opt p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: none;
    padding: 0 30px 0 30px;
}

.conteudo {
    width: 100%;
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.formulario {
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

legend {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
}

select {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 17px;
    padding: 2px;
    color: white;
    display: flex;
    width: 110%;
    cursor: pointer;
    position: relative;
    right: 15px;
}

select option {
    color: black;
    background-color: rgb(107, 126, 161);
}

.arqExc {
    border-bottom: 2px solid white;
    font-size: 17px;
    color: white;
    padding: 2px 2px 2px 5px;
    width: 110%;
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 15px;
}

.arqExc span {
    cursor: pointer;
}

input[type=file] {
    opacity: 0;
}

.arqExc img {
    width: 15px;
    height: 15px;
    right: -35%;
    position: relative;
}

.btns {
    height: 35px;
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns button {
    width: 130px;
    height: 30px;
    color: white;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btnSalvar {
    background-color: green;
    position: relative;
    right: 15px;
}

.btnCancelar {
    background-color: darkred;
    position: relative;
    left: 15px;
}

.btnSalvar:hover {
    background-color: forestgreen;
    color: white;
    font-weight: bold;
}

.btnCancelar:hover {
    background-color: firebrick;
    color: white;
    font-weight: bold;
}

/*-----------------------------------------------------------*/

.fade_In {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#fade_Out {
    opacity: 1;
    animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}