<div class="container">
  <app-logo-menu-inst></app-logo-menu-inst>
  <div class="conteudo">
    <div class="left">
      <img src="../../../../../assets/astroInstrucao.png" alt="" />
    </div>
    <div class="right">
      <h2>Instruções</h2>
      <p>
        Este jogo educativo envolve o pai escolhendo um botão ("Enxergo" ou "Não
        enxergo") e a criança indicando o que está vendo na tela. A imagem
        central diminui de tamanho conforme as fases. Para avançar, basta clicar
        no botão correto. Há também uma opção de dica para verificar a escolha.
        As crianças devem ficar a cerca de 3 metros da tela para boa
        visibilidade. Divirta-se!
      </p>
      <div class="btn">
        <button routerLink="/instituicao/home">Voltar</button>
        <button routerLink="/instituicao/jogos/miopia">Iniciar</button>
      </div>
    </div>
  </div>
</div>
